.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 200vh;
}

.landing-section {
  border: white solid 1px;
  height: 600px;
  margin: 1rem;
  padding: 1rem;
}
.resource-section {
  border: blue solid 1px;
  min-height: 600px;
  margin: 1rem;
  padding: 1rem;
}

.search-section {
  //   border: 1px solid blue;
  margin: 1rem;

  h3 {
    text-align: left;
  }
}

.form {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //   padding-top: 1.5rem;
  //   border: 1px solid white;
  h3 {
    text-align: left;
  }
}
.checkbox-item {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  margin-right: 1.4rem;
  margin-bottom: 1rem;
}
.checkbox {
  margin-right: 0.3rem;
}

.blog-cards {
  border: 2px black solid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
p.blurb {
  text-align: left;
}

.ui.card,
.ui.card:last-child,
.ui.card:first-child {
  margin: 1rem 0;
  // background-color: rgb(53, 63, 71);
  color: rgb(25, 25, 39);
  &:hover {
    color: rgb(25, 25, 39);
  }
  b {
    color: rgb(62, 62, 71);
  }
}

.ThemeCards {
  padding: 2rem;
  /* border: 2px black solid; */
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

@media (min-width: 1559px) {
  .ThemeCards {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem; */
    justify-content: space-between;
  }
}

.themeCard {
  border: 2px gray solid;
  background-color: rgb(53, 63, 71);
  min-width: 316px;
}

/* Component ThemeCards has themeCard elements */
@media (max-width: 1359px) {
  .ThemeCards .ui.card:last-child {
    display: none;
  }
}
@media (max-width: 1026px) {
  .ThemeCards .ui.card:nth-child(3) {
    display: none;
  }
}
