* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.App,
html,
body {
  // background-color: #080a21;
  // background-color: #edf3f2;
  // background-color: #f6f8f8;
  // background-color: #fafafa;
  background-color: #f6f8f8;

  // color: #080f0b;
  color: #112225;
  // color: #323d44;

  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  // background-color: #dde9e7;
}

.App {
  // text-align: center;
  // background-color: #282c34;
  // color: white;
  min-height: 100vh;
}

// Home Page
// ------------------------------------
h1,
h2,
h3 {
  color: #113d46;
}

// Intro Landing Section of the Home Page

.landing-section {
  //  height: 600px;
  // background-color: #dde9e7;
  // background-color: linear-gradient(#dde9e7, #edf3f2);

  background-image: url("./images/background3.png"), url("./images/clouds.png"),
    linear-gradient(#dde9e7, #f6f8f8);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right bottom 40px, left top, left top;
  background-size: 500px 500px, cover, cover;

  position: relative;
  min-height: 580px;
  height: 100vh;
  max-height: 650px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // padding-bottom: 1rem;
  padding-top: 2.2rem;
}

@media (max-width: 380px) {
  .landing-section {
    background-size: 100vw 300px, cover, cover;
  }
}

@media (max-width: 500px) {
  .landing-section {
    background-position: right bottom 50px, left top, left top;
    background-size: 400px 400px, cover, cover;
  }
}

@media (min-width: 1000px) {
  .landing-section {
    background-size: 750px 500px, cover, cover;
    background-position: right bottom 30px, left top, left top;
  }
}

.border {
  // display: absolute;
  background-color: none;
  border-radius: 6px;
  // border: #0d1c0b solid 2px;
  border: #11353b solid 4px;

  height: 88%;
  width: 90%;
  margin: auto;
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a {
      color: #080f0b;
      padding: 2rem;
      padding-top: 1.4rem;
    }
  }
}
// @media (max-width: 340px) {
@media (max-width: 480px) {
  .border {
    border: #ffffff00 1px solid;
  }
}
// Intro Block
.intro-block {
  background: rgba(245, 245, 245, 0.39);
  border-radius: 6px;
  width: 40%;
  margin-left: 10%;
  padding: 2rem;
  margin-top: 5.5rem;
  h2 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-style: italic;
  }
  .dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 900px) {
  .intro-block {
    width: 350px;
  }
}

@media (max-width: 760px) {
  .intro-block {
    background: rgba(245, 245, 245, 0.698);
    // margin-left: auto;
  }
}
@media (max-width: 480px) {
  .intro-block {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
    // margin-top: 3rem;
    background: rgba(245, 245, 245, 0.781);
  }
}
@media (max-width: 380px) {
  .ui.selection.dropdown {
    min-width: 60vw;
  }
  .intro-block {
    width: 86vw;
    margin-left: auto;
    margin-right: auto;
  }
  .landing-section {
    background-size: 250px 250px, cover, cover;
    background-position: right bottom 45px, left top, left top;
  }
}

// Modal in landing section

.modal-form-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
// Little arrow that points to the right
.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.modal-cards-and-form-wrapper {
  padding-left: 2rem;
}
@media (max-width: 330px) {
  .modal-cards-and-form-wrapper {
    padding-left: 1rem;
  }
}
@media (max-width: 270px) {
  .modal-cards-and-form-wrapper {
    padding-left: 0rem;
  }
}
@media (min-width: 1000px) {
  .modal-cards-and-form-wrapper {
    padding-left: 20%;
  }
}

// The Search section with the checkboxes
.search-section {
  padding: 1rem;
  h1,
  h2,
  h3 {
    text-align: left;
    margin: 0;
    padding-left: 1rem;
  }
  // background-color: ;
  // background: linear-gradient(#dde9e7, #edf3f2);
  width: 100%;
}
@media (min-width: 800px) {
  .search-section {
    padding-left: 2rem;
    padding-bottom: 0;
  }
}
.filter-underline {
  height: 2px;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #323d44;
  max-width: 900px;
  width: 70%;
  // height: "1px",
  // display: "block",
  // margin: "0",
  // marginBottom: "2rem",
  // padding: "0",
  // backgroundcolor: #323d44;
  border-radius: 6px;
}
.description-word {
  display: inline;
  color: #989b9e;
  font-size: 1.1rem;
}
// The form that contains all of the checkboxes
.search-form {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-top: 1rem;
  // background: rgba(245, 245, 245, 0.781);
}
.checkbox-item {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  margin-right: 1.4rem;
  margin-bottom: 1rem;
}
.checkbox {
  margin-right: 0.3rem;
}

// The Resource Section with cards
.resource-section {
  min-height: 600px;
  // padding-right: 1rem;
  // padding-left: 1rem;
  h2 {
    padding-top: 1.5rem;
    padding-left: 2rem;
    margin: 0;
  }
}
@media (min-width: 800px) {
  .resource-section {
    h2 {
      padding-left: 3rem;
      padding-bottom: 0;
    }
  }
}
.link-wrapper {
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

a.see-more-link {
  text-decoration: none;
  display: inline-block;
  color: #080f0b;
}

@media (max-width: 380px) {
  div.ThemeCards {
    padding: 0;
  }
  a.ui.card.themeCard,
  .themeCard,
  .ui.card,
  .ui.cards,
  .ui.cards > .card {
    // max-width: 50% !important;
    width: 80%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px) {
  div.ThemeCards {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.blog-cards {
  // border: 2px black solid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
// .card-header,
// div.header.blog-header
.ui.card > .content.card-header,
.ui.cards > .card > .content.card-header,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  background: #283043;
  color: whitesmoke;
}
p.blurb {
  text-align: left;
}

.ui.card,
.ui.card:last-child,
.ui.card:first-child {
  margin: 1rem 0;
  // background-color: rgb(53, 63, 71);
  color: rgb(25, 25, 39);
  &:hover {
    color: rgb(25, 25, 39);
  }
  b {
    color: rgb(62, 62, 71);
  }
}

// -------------------------------------------------------

// -------------------------------------------------------

// -------------------------------------------------------
//Theme Pages -- That have all of the cards that contain the tags for that theme
.ThemeCards {
  padding: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

@media (min-width: 1559px) {
  .ThemeCards {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem; */
    justify-content: space-between;
  }
}

.themeCard {
  border: 2px gray solid;
  background-color: rgb(53, 63, 71);
  min-width: 316px;
}

/* Component ThemeCards has themeCard elements */
@media (max-width: 1359px) {
  .ThemeCards .ui.card:last-child {
    display: none;
  }
}
@media (max-width: 1056px) {
  .ThemeCards .ui.card:nth-child(3) {
    display: none;
  }
}

// -------------------------------------------------------

// -------------------------------------------------------

// -------------------------------------------------------
//Blog Pages -- Contain the page with blog posts

.blog-info-page,
.theme-page {
  background-color: #f6f8f8;
}

.blog-home-nav {
  padding: 1rem;
  a {
    color: #06424b;
    font-weight: 700;
    font-size: 1.4rem;
  }
  border-bottom: solid 1px #99a9ac42;
}

.blog-section {
  text-align: center;
  padding-top: 2rem;
  a {
    color: #23626b;
    font-weight: 400;
    font-size: 1rem;
    // text-align: center;
  }
  h1,
  h4 {
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .blog-section {
    h1,
    h4 {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

.blog-info-blog-body {
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 500px) {
  .blog-info-blog-body {
    width: 100%;
    padding: 2rem;
    padding-top: 1rem;
    text-align: justify;
  }
}

.blog-info-more-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 2rem;
  padding-right: 4rem;
  flex-wrap: nowrap;
}
@media (max-width: 340px) {
  .blog-info-more-link-wrapper {
    a {
      font-size: 0.9rem;
    }
  }
}

.theme-page {
  .theme-page-body {
    padding: 2rem;
    padding-bottom: 4rem;
    h1 {
      text-align: center;
      padding: 1.5rem;
    }
  }
}
// --------------------------------------------
.footer {
  background: #283043;
  color: whitesmoke;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
  a {
    text-decoration: underline;
    color: rgba(245, 245, 245, 0.89);
  }
}
