* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  color: #080f0b;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.App {
  min-height: 100vh;
}

.landing-section {
  background-color: #dde9e7;
  background-image: url("./images/background3.png"), url("./images/clouds.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom 40px, left top;
  background-size: 500px 500px, cover;
  position: relative;
  min-height: 580px;
  height: 100vh;
  max-height: 650px;
  padding-top: 2.2rem;
}

.border {
  background-color: none;
  border-radius: 6px;
  border: #0d1c0b solid 2px;
  height: 88%;
  width: 90%;
  margin: auto;
}

.border .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.border .nav-menu a {
  color: #080f0b;
  padding: 2rem;
  padding-top: 1.4rem;
}

.intro-block {
  background: rgba(245, 245, 245, 0.39);
  border-radius: 6px;
  width: 40%;
  margin-left: 10%;
  padding: 2rem;
}

.intro-block h2 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  font-style: italic;
}

.intro-block .dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.search-section {
  margin: 1rem;
}

.search-section h3 {
  text-align: left;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.4rem;
  margin-bottom: 1rem;
}

.checkbox {
  margin-right: 0.3rem;
}

.resource-section {
  min-height: 600px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.blog-cards {
  border: 2px black solid;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

p.blurb {
  text-align: left;
}

.ui.card,
.ui.card:last-child,
.ui.card:first-child {
  margin: 1rem 0;
  color: #191927;
}

.ui.card:hover,
.ui.card:last-child:hover,
.ui.card:first-child:hover {
  color: #191927;
}

.ui.card b,
.ui.card:last-child b,
.ui.card:first-child b {
  color: #3e3e47;
}

.ThemeCards {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

@media (min-width: 1559px) {
  .ThemeCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.themeCard {
  border: 2px gray solid;
  background-color: #353f47;
  min-width: 316px;
}

/* Component ThemeCards has themeCard elements */
@media (max-width: 1359px) {
  .ThemeCards .ui.card:last-child {
    display: none;
  }
}

@media (max-width: 1026px) {
  .ThemeCards .ui.card:nth-child(3) {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */