* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  background-color: #f6f8f8;
  color: #112225;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.App {
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: #113d46;
}

.landing-section {
  background-image: url("./images/background3.png"), url("./images/clouds.png"), -webkit-gradient(linear, left top, left bottom, from(#dde9e7), to(#f6f8f8));
  background-image: url("./images/background3.png"), url("./images/clouds.png"), linear-gradient(#dde9e7, #f6f8f8);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right bottom 40px, left top, left top;
  background-size: 500px 500px, cover, cover;
  position: relative;
  min-height: 580px;
  height: 100vh;
  max-height: 650px;
  padding-top: 2.2rem;
}

@media (max-width: 500px) {
  .landing-section {
    background-position: right bottom, left top, left top;
  }
}

@media (min-width: 1000px) {
  .landing-section {
    background-size: 750px 500px, cover, cover;
    background-position: right bottom 30px, left top, left top;
  }
}

.border {
  background-color: none;
  border-radius: 6px;
  border: #112225 solid 2px;
  height: 88%;
  width: 90%;
  margin: auto;
}

.border .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.border .nav-menu a {
  color: #080f0b;
  padding: 2rem;
  padding-top: 1.4rem;
}

.intro-block {
  background: rgba(245, 245, 245, 0.39);
  border-radius: 6px;
  width: 40%;
  margin-left: 10%;
  padding: 2rem;
}

.intro-block h2 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  font-style: italic;
}

.intro-block .dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 480px) and (max-width: 900px) {
  .intro-block {
    width: 350px;
  }
}

@media (max-width: 760px) {
  .intro-block {
    background: rgba(245, 245, 245, 0.698);
  }
}

@media (max-width: 480px) {
  .intro-block {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
    background: rgba(245, 245, 245, 0.781);
  }
}

.modal-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.search-section {
  padding: 1rem;
  width: 100%;
}

.search-section h3 {
  text-align: left;
}

.filter-underline {
  height: 1px;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #323d44;
  max-width: 400px;
}

.description-word {
  display: inline;
  color: #989b9e;
  font-size: 1.1rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.4rem;
  margin-bottom: 1rem;
}

.checkbox {
  margin-right: 0.3rem;
}

.resource-section {
  min-height: 600px;
}

.resource-section h3 {
  padding-top: 1.5rem;
}

@media (max-width: 380px) {
  div.ThemeCards {
    padding: 0;
  }
  a.ui.card.themeCard,
  .themeCard,
  .ui.card,
  .ui.cards,
  .ui.cards > .card {
    width: 80%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.blog-cards {
  border: 2px black solid;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.ui.card > .content.card-header,
.ui.cards > .card > .content.card-header,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  background: #283043;
  color: whitesmoke;
}

p.blurb {
  text-align: left;
}

.ui.card,
.ui.card:last-child,
.ui.card:first-child {
  margin: 1rem 0;
  color: #191927;
}

.ui.card:hover,
.ui.card:last-child:hover,
.ui.card:first-child:hover {
  color: #191927;
}

.ui.card b,
.ui.card:last-child b,
.ui.card:first-child b {
  color: #3e3e47;
}

.ThemeCards {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

@media (min-width: 1559px) {
  .ThemeCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.themeCard {
  border: 2px gray solid;
  background-color: #353f47;
  min-width: 316px;
}

/* Component ThemeCards has themeCard elements */
@media (max-width: 1359px) {
  .ThemeCards .ui.card:last-child {
    display: none;
  }
}

@media (max-width: 1026px) {
  .ThemeCards .ui.card:nth-child(3) {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */